# Ativa Rewrite e define apenas para pasta especifica
RewriteEngine On
RewriteBase /atividades-complementares/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ index.html [L]
